* {
    margin: 0;
    padding: 0;
}

.box {
    width: 1000px;
    height: 300px;
    color: white;
    margin: 0 auto;
}

.box ul li {
    float: left;
    width: 180px;
    height: 300px;
    padding: 0 5px;
    list-style: none;
    overflow: hidden;
}

.b1 {
    background-color: yellow;
}

.b2 {
    background-color: white;
}

.b3 {
    background-color: greenyellow;
}

.b4 {
    background-color: violet;
}

.b5 {
    background-color: turquoise;
}

.box ul:hover li {
    width: 100px;
}

.box ul li:hover {
    width: 500px;
    overflow: auto;
}